doctype html
html
  head
    title Reset account success
    link(rel='stylesheet', href='/stylesheets/emailVerify.css')
  body
    .container
        h1 Reset account success
        p Account has been successfully reset, please check your email for further information