doctype html
html
  head
    title Email Berhasil Diverifikasi
    link(rel='stylesheet', href='/stylesheets/emailVerify.css')
  body
    .container
        h1 Reset account success
        p Account berhasil di reset, silahkan cek email anda untuk informasi lebih lanjut