doctype html
html
  head
    title Your Payment Failed
    link(rel='stylesheet', href='/stylesheets/emailVerify.css')
  body
    .container
        h1 Your Payment Failed
        p Something wrong with your payment, please request again.