doctype html
html
  head
    title Your Payment Success
    link(rel='stylesheet', href='/stylesheets/emailVerify.css')
  body
    .container
        h1 Your Payment Success
        p Thanks for your payment, please check your email for digital ticket.