doctype html
html
  head
    title Your Payment Pending
    link(rel='stylesheet', href='/stylesheets/emailVerify.css')
  body
    .container
        h1 Your Payment Pending
        p Please complete your payment, you can check email for detail.