doctype html
html
  head
    title Verification account success
    link(rel='stylesheet', href='/stylesheets/emailVerify.css')
  body
    .container
        h1 Verification account success
        p Your account is active, please continue with the next steps on our page