doctype html
html
  head
    title Email Gagal Diverifikasi
    link(rel='stylesheet', href='/stylesheets/emailVerify.css')
  body
    .container
        h1 Token Expired
        p Link verify sudah expired, silahkan request ulang.