doctype html
html
  head
    title Email Verification Failed
    link(rel='stylesheet', href='/stylesheets/emailVerify.css')
  body
    .container
        h1 User Not Found
        p Your user request is not registered in our system