doctype html
html
  head
    title Email Gagal Diverifikasi
    link(rel='stylesheet', href='/stylesheets/emailVerify.css')
  body
    .container
        h1 Token Not Found
        p User / Permintaan lupa password anda tidak terdaftar pada sistem kami